<tr>
  <td>
    <%= link_to position.name, position %></td>
  <td>
      <%= position.description %>
      <br>
  </td>
  <td>
      <%= link_to "#{position.company.name}", position.company %>
      <br>
  </td>
  <td><%= link_to "msg", position.company %></td>
</tr>

