<div class="fields">
  <%= f.label :first_language, "First Language" %>
  <span class="req">*</span>

  <div class="full">
    <span class="margin-btm">First Language :
    </span>
    <span id="native-lang">
      
      <%= @languages.find(@user.first_language).name %>
    </span>
   </div>
   <div>
     <%= f.collection_select(:first_language, @languages, :id, :name, {:selected => @user.first_language}, {:class => "lang"}) %>
   </div>
</div>
  
