<!-- new language proficiencies -->
<tr class="fields">
  <td data-langid="">
    <%= f.collection_select(:language_id, @languages, :id, :name, {:include_blank => "Choose another"}, {:class => "lang other-lang", :onchange => "update_langids(this);" }) %>
  </td>
  <td>
    <%= f.collection_select(:prof_category_id, @categories, :id, :prof_name) %>
    <%= f.hidden_field :_destroy, {:class => "killme"} %>
    <%= link_to_remove_fields "Remove", f %>
  </td>
</tr>


