
<div id="list-users">
  <h1>A list of users:</h1>

  <table class="table">
    <thead>
      <tr>
        <!-- <th>LanProf ID</th> -->
        <th>User</th>
        <th>Languages ID</th>
        <th>Proficiency</th>
      </tr>
    </thead>
    <tbody>
      <% @langprofs.user.each do |user| %>
        <tr>  
          <td><%= user.email %></td> 

          <td>
            <% @langprofs.name %>
            <!-- <%# @langprofs.lang_proficiency %> -->

            <!-- <%# user.lang_proficiency %> -->
          </td>

          <% puts ">>>>>>>>>>>> #{user.languages}" %>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
