
<div id="list-users">
  <h1>A list of users:</h1>

  <table class="table">
    <thead>
      <tr>
        <th>LanProf ID</th>
        <th>User</th>
        <th>Languages ID</th>
        <th>Proficiency</th>
      </tr>
    </thead>
    <tbody>
      <% @lang_profs.each do |langprof| %>
        <tr>  
          <td><%= langprof.id %></td>
          <!-- <td><%#= User.find(langprof.user_id).email %></td> -->
          <!-- This doesn't work -->
          <td><%= langprof.user.email %></td>
          <td><%= langprof.language.name %></td>
          <td><%= langprof.language_proficiency %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
