
<div id="list-users">
  <h1>A list of users:</h1>

  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>link</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>  
          <td class="user-ID"><%= user.id %></td>
          <td class="user-email"><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
