
<div id="list-users">
  <h1>A list of users:</h1>

  <table class="table">
    <thead>
      <tr>
        <!-- <th>LanProf ID</th> -->
        <th>User</th>
        <th>Languages</th>
        <th>Proficiency</th>
      </tr>
    </thead>
    <tbody>
      <% @users_with_lang_profs.each do |user| %>
        <tr>  
          <td><%= user.email %></td> 

          <td>
            <% user.languages.each do |lang| %>
              <%= lang.name  %>
              <br>
            <% end %>
          </td>

          <td>
            <% user.language_profs.each do |lprof| %>
              <%= @prof_name[lprof.language_proficiency]  %>

              <br>
            <% end %>
          </td>

        </tr>
      <% end %>

    </tbody>
  </table>
</div>
