
// javascript 

$(document).ready(function() {

  var handleInput = function() {
    console.log("handleInput called");
  }


  $("#user_languages").change(function() {

    var language = $("#user_languages option:selected").text();
    console.log("New language selected: ", language)

    $('#other-lang').append(
      "<tr class=\"full\" name=\""+language+"\">" +
      "<td class=\"other-lang-list\">" +language +"</td>"+
      "<td class=\"prof-selection\" >"+
        "<select class=\"prof-select\" name=\""+language+"\" class=\"field select\"" +
        "tabindex=\"5\" required>" 
          <% $prof_name.each do |name| %> +
            "<option name=\"<%= name %>\"><%= name %></option>"
          <% end %> +
        "</select>" +
      "</td>" +
      "<td class=\"remove-lang\"><a href=\"#\">Remove</a></td>"+
      "</tr>"
      );
 
  });

  $("#user_first_language").change(function() {
    $("#native-lang").html($("#user_first_language option:selected").text());
  });

  $(document).on('click', ".remove-lang", function(e) {
    e.preventDefault();
    $(this).parent().remove();
  });

  $("#user_languages").on('focus', function(e) {
    e.preventDefault();
    var nativeLangID = parseInt($("#user_first_language option:selected").val());
    var nativeLangID;
    console.log("click function", nativeLangID);
    // nativeLangID = <%# @languages.find(:id).where(:name => nativeLang) %>

    $("option[value="+nativeLangID+"]")
      .attr("disabled", "disabled")
      .siblings().removeAttr("disabled");
  });


});

