
// javascript 

$(document).ready(function() {

  var handleInput = function() {
    console.log("handleInput called");
  }


  $("#other-lang-select").change(function() {

    var language = $("#other-lang-select option:selected").text();
    console.log("New language selected: ", language)

    $('#other-lang').append(
      "<tr>" +
      "<td class=\"other-lang-list\" class=\"wide\">" +language +"</td>"+
      "<td class=\"prof-selection\" >"+
        "<select id=\"prof-select\" name=\"proficiency-select\" class=\"field select\"" +
        "tabindex=\"5\" required>" 
          <% $prof_name.each do |name| %> +
            "<option value=\"<%= name %>\"><%= name %></option>"
          <% end %> +
        "</select>" +
      "</td>" +
      "<td class=\"remove-lang\">Remove</td>"+
      "</tr>"
      );
 
  });

  $("#native-lang-select").change(function() {
    $("#native-lang").html($("#native-lang-select option:selected").text());
  });




});

