
// javascript 

$(document).ready(function() {

  var handleInput = function() {
    console.log("handleInput called");
  }



  $("#user_languages").change(function() {

    var language = $("#user_languages option:selected").text();
    var languageID = $("#user_languages option:selected").val();
    console.log("New language selected: ", language)
    drawLanguage(language, languageID);


    });

  var drawLanguage = function(language, languageID) {
    $('#other-lang').append(
      "<tr class=\"full\" name=\""+language+"\" value=\""+ languageID +"\" >" +
      "<td class=\"other-lang-list\" >" +language +"</td>"+
      "<td class=\"prof-selection\" >"+
        "<select class=\"prof-select\" name=\""+language+"\" class=\"field select\"" +
        "tabindex=\"5\"  required>" 
          <% $prof_name.each do |name| %> +
            "<option name=\"<%= name %>\"><%= name %></option>"
          <% end %> +
        "</select>" +
      "</td>" +
      "<td class=\"remove-lang\"><a href=\"#\">Remove</a></td>"+
      "</tr>"
    );
  }

  $("#user_first_language").change(function() {
    // set the label to display the current first language
    $("#native-lang").html($("#user_first_language option:selected").text());

    // disable the language in the other list
    var nativeLangID = parseInt($("#user_first_language option:selected").val());

    $("option[value="+nativeLangID+"]")
      .attr("disabled", "disabled")
      .siblings().removeAttr("disabled");

  });

  $(document).on('click', ".remove-lang", function(e) {
    e.preventDefault();
    $(this).parent().remove();
  });

  $("#user_languages").on('focus', function(e) {
    e.preventDefault();
    console.log("focus function called");
    var nativeLangID = parseInt($("#user_first_language option:selected").val());

    $("option[value="+nativeLangID+"]")
      .attr("disabled", "disabled")
      .siblings().removeAttr("disabled");
  });


});

