
// javascript 

$(document).ready(function() {


  // draw the new language selected
  $("#user_language_profs").change(function() {

    var language = $("#user_language_profs option:selected").text();
    var languageID = $("#user_language_profs option:selected").val();
    console.log("New language selected: ", language)
    drawLanguage(language, languageID);


    });
  // the horrible html I must change to ruby form helpers
   var drawLanguage = function(language, languageID) {
  //   $('#other-lang').append(
  //     "<tr class=\"full\" name=\""+language+"\" value=\""+ languageID +"\" >" +
  //     "<td data-langid=\""+languageID+"\" >" +language +"</td>"+
  //     "<td class=\"prof-selection\" >"+
  //       "<select class=\"prof-select\" name=\""+language+"\" class=\"field select\"" +
  //       "tabindex=\"5\"  required>" 
  //       <%# $prof_name.each do |name| %>"temporary text" +
  //           "<option name=\"<%#= name %>\"><%#= name %></option>"
  //         <%# end %> +
  //       "</select>" +
  //     "</td>" +
  //     "<td class=\"remove-lang\"><a href=\"#\">Remove</a></td>"+
  //     "</tr>"
  //   );
  }

  // disabled already selected languages from the list
  var removeAllDisabled = function() {
    $("select[id='user_language_profs'] option").map(function() {
      $(this).removeAttr("disabled", "disabled");
    });
      
    $("select[id='user_first_language'] option").map(function() {
      $(this).removeAttr("disabled", "disabled");
    });
  }
  var addDisabled = function(value) {
    $("option[value="+value+"]")
      .attr("disabled", "disabled")
  }

  // change the text of which first language is selected
  $("#user_first_language").change(function() {
    $("#native-lang").html($("#user_first_language option:selected").text());
  });

  // do some restricting of available language options
  $("#user_first_language").on('focus', function() {
    
    // disable the language in the other list
    var nativeLangID = parseInt($("#user_first_language option:selected").val());
    console.log("native lang is " + nativeLangID);
    
    var languageIDs = $('#other-lang td').map(function() {
      return $(this).attr("data-langid");
    }).get();
    console.log("other langs "+ languageIDs);

    removeAllDisabled();
    addDisabled(nativeLangID);
    for (i = 0; i < languageIDs.length; i++) {
      addDisabled(languageIDs[i]);
    };
  });
  // must change the list if either drop down box changes
  $("#user_language_profs").on('focus', function(e) {
    e.preventDefault();
    console.log("focus function called");
    var nativeLangID = parseInt($("#user_first_language option:selected").val());
    // need to return an array of values
    var languageIDs = $('#other-lang td').map(function() {
      return $(this).attr("data-langid");
    }).get();
    console.log(languageIDs);

    removeAllDisabled();
    addDisabled(nativeLangID);
    for (i = 0; i < languageIDs.length; i++) {
      addDisabled(languageIDs[i]);
    };
  });

  // for removing an 'other' language
  $(document).on('click', ".remove-lang", function(e) {
    e.preventDefault();
    $(this).parent().remove();
  });

  


});

