
body{
}

// BODY STUFF
.body-class {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  // background-image:image-url("bg.jpg");
  // background-repeat: no-repeat;
  // background-size: 100%;
    background-color:rgba(0,0,100,0.5);
}
#main {
  // background: #ffffff;
}
#main h1 {
  margin: 0;
  padding: 0;
}
.kristi {
  font-family: 'Kristi', sans-serif;
  font-size: 150%;
}
.frijole {
  font-family: 'Frijole', sans-serif;
  font-size: 200%;
}



// HEADER
#header {
  //background: #4014CC;
  height: 50px;
  color: #ffffff;
  border-radius: 5px;
}
#header a {
  color: #FF7700;
}
.navbar-toggle .icon-bar {
  //background: white;
}
.navbar-header {
  padding-left: 10px;
}
#wantmaw-navbar {
  border-radius: 5px;
}
.nav.navbar-nav li:hover {
  background-color: #e7e7e7;
  border-radius: 4px;
}


#notice {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 150%; 
  background-color:rgba(255,255,255,0);
}

// LOGO SPACE & LINKBAR
.welcome-msg {
  padding: 10px;
}
.logo-space {
  margin-top: 20px;
  // min-height: 100px;
  background: #ffffff;
  border-radius: 5px;
}
.logo-space .img-class {
  max-height: 200px;
  padding: 5px;
  // margin-bottom: 20px;
  // margin-top: 20px;
}
.linkbar {
  height: 40px;
  background: #FF7700;
  margin-top: 20px;
  //margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  padding-top: 6px;
}
.link-search.form-control {
  display: inline-block;
  width: 50%;
  min-width: 50px;
  height: 25px;
}
.btn.small {
  font-size: 80%;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}


// FOOTER
/*stuff below from bootstrap sticky footer*/
.footer-inner {
  background-color: white;
  //height: 60px;
  //color: #FF7700;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.footer-inner a {
  color: #FF7700;
}


// MAIN CONTENT
#login-wrapper {
  display: table;
  min-height: 150px;
  padding: 0;
  margin-top: 20px;
  //margin-left: 20px;
}
#login-box {
  border: 1px solid white;
  border-radius: 25px;
  height: 100%;
  display: table-cell; 
  vertical-align: middle;
  padding: 10px;
  text-align: center;
}
#login-box a{
  color: white;
}

#content-box {
  margin-top: 20px;
  display: inline-block;
}
.user-list {
  // padding: 0;
  margin-top: 20px;
  // margin-left: 20px;
  background-color:rgba(255,255,255,0.5);
  border-radius: 5px;
}
.logo-space {
  background-color:rgba(255,255,255,0.5);
}

// USERS
.page-details {
    background-color:rgba(255,255,255,0.5);
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.page-show {
    background-color:rgba(255,255,255,0.5);
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.user-role {
  background-color:rgba(255,255,255,0.5);
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 15px;
}
.message-column {
  max-width: 60px;
}

// POSITIONS
#positions .company-column {
  min-width: 100px;
}

// GENERAL
.btn-default.transparent {
  background: transparent;
  border: none;
}
.nobullet {
  list-style-type: none;
  padding:0; margin:0;
}
.img-class {
  max-width: 100%;
  max-height: 75%;
  margin: 10px;
}
.pad {
  padding-left: 5px;
  //padding-right: 5px;
}
.margin-left {
  //margin-left: 10px;
}
.small {
  font-size: 60%;
}
.center {
  text-align: center;
}
.navbar-nav.right {
  float: right;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
