


// BODY STUFF
.body-class {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#main {
  background: #ffffff;
}
#main h1 {
  margin: 0;
  padding: 0;
}



// HEADER
#header {
  background: #4014CC;
  height: 50px;
  color: #ffffff;
}
#header a {
  color: #FF7700;
}
.navbar-fixed-top {
  //background: #4014CC;
}
.navbar-toggle .icon-bar {
  background: white;
}
.navbar-header {
  padding-left: 10px;
}
#navbar {
  background: tranparent;
  color: black;
}



// LOGO SPACE & LINKBAR
.logo-space {
  margin-top: 20px;
  // min-height: 100px;
  background: #ffffff;
}
.logo-space .img-class {
  max-height: 200px;
  padding: 5px;
  // margin-bottom: 20px;
  // margin-top: 20px;
}
.linkbar {
  height: 40px;
  background: #FF7700;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

// FOOTER
/*stuff below from bootstrap sticky footer*/
.footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #eeeeee;*/
}
.footer-inner{
  background-color: #4014CC;
  height: 60px;
  color: #FF7700;
  text-align: center;
  padding: 10px;
}



// MAIN CONTENT
#login-wrapper {
  display: table;
  min-height: 150px;
  padding: 0;
}
#login-box {
  border: 1px solid black;
  border-radius: 25px;
  height: 100%;
  display: table-cell; 
  vertical-align: middle;
  padding: 10px;
  text-align: center;
}
#content-box {
  margin-top: 20px;
  display: inline-block;
}
#list-users {
  padding: 0;
  margin-top: 0px;
  margin-left: 20px;
}


// GENERAL
.btn-default.transparent {
  background: transparent;
  border: none;
}
.nobullet {
  list-style-type: none;
  padding:0; margin:0;
}
.img-class {
  max-width: 100%;
  max-height: 90%;
  margin: 10px;
}

