  <div class="row">
  <% if current_user %>
    <%= "Signed in as #{current_user.email}" %>
  <% end %>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2"><a href="#contact">Contact Us</a></div>
    <div class="col-xs-3 col-xs-offset-2"><a href="#contact">About Us</a></div>
  </div>
