<div class="linkbar">
  <%= form_tag users_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :lang => nil, :class => "btn btn-default transparent" %>
    <button class="btn btn-default transparent">Advanced search</button>
  <% end %>
</div>
