<div class="linkbar">
  <div>
    <button class="btn btn-default transparent">A button</button>
    <button class="btn btn-default transparent">A button</button>
    <button class="btn btn-default transparent">A button</button>  
  </div>
</div>
