<div class="logo-space">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag "logo/wings-logo/wings-logo.jpg", :class => "img-class" %>
      </div>
    </div>
  </div>
</div>
